@font-face {
    font-family: "cairoFont";
    src: url(../font/Cairo-Regular.ttf);
}

body {
    font-family: "cairoFont", Arial, sans-serif;

}

.navbar-brand img {
    width: 10%;
    padding-left: 10px;

}

.custom-navbar {
    border-bottom: 1px solid #000;
    width: 100%;
    background-color: #EEF0EA;
    padding-top: 8px;
    padding-bottom: 6px;

}

a.navbar-brand {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

#carousel-featured .carousel-item img {
    height: 550px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 10px;
}

.carousel-btn {
    color: #fff;
    border-color: #fff;
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.14);
}

#carousel-featured a.carousel-control-prev,
#carousel-featured a.carousel-control-next {
    color: #868686;
    font-size: 30px;
    text-decoration: none !important;

}

.card-icons img {
    height: 400px;
}

.subject {
    color: #868686;
    font-size: 30px;

}

.card:hover .fa-play {
    display: inline;
}

/*حركة card عند مرور المؤشر*/
.card:hover {
    transform: translateY(-.9%);
}

.card {
    transition: transform .5s;
}

.card .fa-play {
    position: absolute;
    top: 30%;
    right: 45%;
    color: #899090c7;
    display: none;
    /*حتى تكون الايقونة مخفية*/

}

#footer {
    background-color: #EEF0EA;
    border-top: 1px solid #000;

}

#footer-nav {
    margin: 30px 0;
}

#footer-nav a {
    color: #555;
    margin-left: 30px;
    text-decoration: none;
}


#footer-link ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: rgba(117, 114, 114, 0.14);
    color: #555555;
    font-size: 1.2em;

}

#footer-link ul li a:hover {
    background-color: rgba(44, 43, 43, 0.14);

}

#footer-copyright {
    color: #000;
    padding-bottom: 6px;
    padding-top: 6px;
}